* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 48px;
    font-weight: 100;
    text-align: center;
}

form {
    position: relative;
    margin: 50px;
    display: inline-block;
}

textarea {
    width: 80%;
    height: 50px;
}

fieldset {
    padding: 30px;
    min-width: 500px;
    margin: 30px 0;
}

.hobbies {
    display: flex;
    align-items: center;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

.label-hobbies {
    padding-right: 10px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.submit-btn button {
    font-size: larger;
    padding: 7px;
    border-radius: 10px;
    border: solid 1px grey;
}

.invalid {
    border: solid 3px;
    border-color: red;
}