body {
    font-family: monospace, sans-serif;
    line-height: 25px;
    background-color: #227a6f;
  }

.container {
    display: flex;
    justify-content: center;
}
  
  .tasks_title {
    color: white;
    margin: 50px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
   }
  
  .tasks_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .tasks_item {
    font-size: 24px;
    transition: background-color 0.5s;
    margin-bottom: 10px;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #b2d9d0;
    border-radius: 10px;
    cursor: move;
    background-color: #dff2ef;
    min-width: 500px;
  }
  
  .tasks_item:last-child {
    margin-bottom: 0;
  }
  
  .selected {
    opacity: 0.6;
  }